body {
    font-family: Garamond;
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    /* Ensure there is no default margin */
    overflow: hidden;
    /* Prevent scrolling */
}

#timeline {
    display: flex;
    background-color: #ffffff;

    &:hover {
        .tl-item {
            width: 23.3333%;
        }
    }
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: white;
    overflow: hidden;
    transition: width 0.5s ease;

    &:before,
    &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        background: transparentize(white, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &:hover {
        width: 30% !important;

        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .tl-content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }

        .tl-bg {
            filter: grayscale(0);
        }
    }
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;

    h1 {
        font-family: Garamond;
        text-transform: uppercase;
        color: white;
        font-size: 1.44rem;
        font-weight: normal;
    }
}

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    p {
        font-family: Garamond;
        font-size: 1.728rem;
        line-height: 0;
    }
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

#load-more {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

#load-more:hover {
    color: #edc4c8;
}

.arrow-button {
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #edc4c8;
    background-color: white;
    color: #edc4c8;
    transition: background-color 0.3s, color 0.3s;
}

.arrow-button:hover {
    background-color: #edc4c8;
    color: white;
}

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black with opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    /* Rounded edges */
    width: 50%;
    text-align: center;
    max-width: 400px;
    font-family: Garamond;
}

.small-box-button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid #edc4c8;
    background-color: white;
    color: #edc4c8;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: Garamond;
}

.small-box-button:hover {
    background-color: #edc4c8;
    color: white;
}